/* Master style */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
} 

/* Nav styles */

.container-frontpage {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
display: flex;
justify-content: space-between;
padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/*Portfolio styles */

.h3-frontpage {

    color: rgba(255, 0, 0, 0.26);
    font-size: 3em;
    line-height: 1;
    font-family: arial;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px;
    margin-left: 80px;
}

.h2-frontpage {
    color: rgba(0, 0, 0, 0.534);
    font-size: 1.2em;
    line-height: 1.7;
    font-family: arial;
    margin-left: 80px;
    
}

.h3-prices {
    color: whitesmoke;
    font-size: 3em;
    line-height: 1;
    font-family: arial;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px;
    margin-left: 80px;
}


.h2-prices {
    color: rgb(0, 17, 252);
    font-size: 1.2em;
    line-height: 1.7;
    font-family: arial;
    margin-left: 80px;
}

/* Cards */

.container-prices {
    width: 100%;
    height: 70vh;
}

.container-prices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box1,.box2,.box3,.box4,.box5 {
    width: 250px;
    height: 250px;
    background: radial-gradient(circle at top left, transparent 1px, rgba(255, 255, 255, 0.658)),
    radial-gradient(circle at bottom right, transparent 1px, rgba(255, 255, 255, 0.658));
    margin: 15px;
    padding: 5px;
    color: whitesmoke;
    text-align: center;
    transition: .3s ease-in-out;

}

.h2-pricesCard{
    letter-spacing: 2px;
    margin: 0 0 .6rem 0;
    color: rgb(10, 10, 10);
    font-family: arial;
    
}


.box1 p, .box2 p, .box3 p, .box4 p, .box5 p{
    line-height: 1.6;
    padding: 0 10px;
    
}

/* Email setup */


.container-contact{
    width: 80%;
    margin: 0% auto; 
}

.contact-box{
    background: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px ;
    background: #4837aa;
    color: #fff;
}

.h1-contact{
    margin-bottom: 10px;
}

.container-contact p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;

}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
} 

 textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    
}  

label{
    margin-bottom: 6px;
    display: block;
    color: #4837aa;
}

button{
    background: #4837aa;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3{
    color: #4837aa;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
}

tr td:first-child{
    padding-right: 40px;
    font-size: 30px;
}

tr td:first-child{
    padding-top: 40px;
    font-size: 30px;
}

/* link facebook button */

ul
{
     
    margin: 0;
    padding: 0;
}
ul li
{
    list-style: none;
    display: inline-block;
}
ul li a
{
    position: relative;
    width: 90px;
    height: 90px;
    display: block;
    text-align: center;
    margin: 0 180px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    margin-bottom: 20px;
    
    
}
ul li a:hover
{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
ul li a .fa
{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    line-height: calc(120px - 12px);
    font-size: 40px;
    color: #262626;
    transition: .5s;
    margin-top: -10px;
}

ul li:nth-child(1) a:hover .fa
{
    color: #3b5999;
}

