/* Master style */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* Nav styles */

.container-frontpage {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
display: flex;
justify-content: space-between;
padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #151922;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #151922;
}

.nav-link-wrapper a:hover {
    color: #151922;
}

.brand {
    color: #151922;
}

/*Portfolio styles */

.h3-frontpage {

    color: black;
    font-size: 3em;
    line-height: 1;
    font-family: arial;
    text-transform: uppercase;
    margin-left: 80px;
}

.h2-frontpage {
    color: black;
    font-size: 1.2em;
    line-height: 1.7;
    font-family: arial;
    margin-left: 80px;

}

.h3-prices {
    color: black;
    font-size: 3em;
    line-height: 1;
    font-family: arial;
    text-transform: uppercase;
    margin-left: 80px;
}


.h2-prices {
    color: black;
    font-size: 1.2em;
    line-height: 1.7;
    font-family: arial;
    margin-left: 80px;
}

.hr-white{
    color: black;
}

/* Contact me button frontpage */


.button-body{
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;

}
span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;

}
span a:before,
span a:after{
  position: absolute;
  content: "Kontakt os";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #151922;
  
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

/* Cards prices*/

.container-prices{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card-prices{
    background: #FFF;
    width: 270px;
    margin: 10px;
    border-radius: 15px;

}

.card-image-prices {
    height: 250px; 
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-prices h2{
padding: 10px;
text-align: center;
}

.card-prices p{
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
 }

 .card-prices:hover{
    background-color: #151922;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.13);
    

 }

 .card4{
    background-image: url(../images/gas\ varmer..JPG);
}
.card5{
    background-image: url(../images/el\ varmer\ 230w..JPG);
}
.card6{
    background-image: url(../images/lys.JPG);
}
.card7{
    background-image: url(../images/stol.JPG);
}
.card8{
    background-image: url(../images/bord.jpg);
}

/* Cards frontpage */

.container-index1{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

.card-index{
    background: #FFF;
    width: 270px;
    margin: 10px;
    border-radius: 15px;

}

.card-image {
    height: 170px; 
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card1{
    background-image: url(../images/teltudefra.jpg);
}

.card2{
    background-image: url(../images/G00086_003.jpg);
}

.card3{
    background-image: url(../images/hoppeborg\ 052.jpg);
}

.card-index h2{
padding: 10px;
}

.card-index p{
    padding: 10px;
 }

 .card-index a{
    background-color: black;
    color: #fff;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
 }

 .card-index:hover{
    background-color: #151922;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;

 }

/* Email setup */


.container-contact{
    width: 80%;
    margin: 0% auto;
}

.p{
    color: black;
}

.contact-box{
    background: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px ;
    background: #151922;
    color: #fff;
}

.h1-contact{
    margin-bottom: 10px;
}

.container-contact p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;

}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

 textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;

}

label{
    margin-bottom: 6px;
    display: block;
    color: #151922;
}

button{
    background: #151922;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3{
    color: #151922;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
}

tr td:first-child{
    padding-right: 40px;
    font-size: 30px;
}

tr td:first-child{
    padding-top: 40px;
    font-size: 30px;
}

.h1-contact{
    color: black;
}

/* link facebook button */

ul
{

    margin: 0;
    padding: 0;
}
ul li
{
    list-style: none;
    display: inline-block;
}
ul li a
{
    position: relative;
    width: 90px;
    height: 90px;
    display: block;
    text-align: center;
    margin: 0 180px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    margin-bottom: 20px;


}
ul li a:hover
{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
ul li a .fa
{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    line-height: calc(120px - 12px);
    font-size: 40px;
    color: #262626;
    transition: .5s;
    margin-top: -10px;
}

ul li:nth-child(1) a:hover .fa
{
    color: #3b5999;
}

